.width1 {
	width: 500px !important;
}
table {
	border-collapse: collapse;
	margin-right: 20px;
}
table.downloadables {
    width: 600px;
}
table th, table td {
	border: 1px solid black;
	padding: 8px;
}

table th.sorth::after {
    content: " ⇅";
    color: gold;
    background: black;
    padding: 3px;
    border-radius: 3px;
}

table th.sorth.sorted::after {
    content: " ↑";
    color: gold;
    background: black;
    padding: 3px;
    border-radius: 3px;
}

table th.sorth.reversed::after {
    content: " ↓";
    color: gold;
    background: black;
    padding: 3px;
    border-radius: 3px;
}

table tr {
	background: #fefefe;
}
table tr:nth-child(odd) {
	background: #f5f5f5;
}

thead th {
    background: linear-gradient(#bf963f, #fcf6ba, #fbf5b7, #aa771c);
}

dt {
	font-weight: bold;
	color: marroon;
}

dd {
	margin-left: 20px;
}

.box {
	display: flex;
	flex-wrap: wrap;
}

.col2{
	max-width: 450px;
}

li.cadre {
	border: 1px solid grey;
	padding: 8px;
	border-radius: 8px;
}

audio {
    width: 320px;
}

.icon1 {
    vertical-align: middle;
    width: 48px;
    margin-right: 5px;
}

#previous .deplie {
    background: rgba(0,255,255,0.9);
}

#previous h3.replie {
    color: rgba(0,0,0,0.3);
}

.boutons button {
    vertical-align: middle;
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
}

button.add{
    background: lightcyan;
}
button.goto::before{
    content: url("../static/play-mini.png");
    vertical-align: middle;
}
button.goto {
    background: lightyellow;
}
button.rejoue::before{
    content: url("../static/play-mini.png");
    vertical-align: middle;
}
button.rejoue{
    background: yellow;
    vertical-align: middle;
}
button.aller_mesure{
    background: yellow;
}
select.temposelect{
    background: lightyellow;
}
button.stop{
    background: white;
}

input.static_add {
    width: 6em;
}

/* vertical sliders' source:
   https://pygmalion.nitri.org/a-vertical-slider-in-html-js-css-1083.html 
*/

.slider_container {
    width: 45px;
    height: 140px;
    background: rgba(255,255,0,0.5);
    border-radius: 10px;
    border: 2px solid rgba(100,100,0,0.5);
    display: inline-flex;
    margin: 5px;
}

.vslider {
    border-left: thick solid #000000;
    height: 100px;
    position: relative;
    left: 20px;
    top: 5px;
    display: block;
}
 
.thumb {
    cursor: pointer; 
    position: relative; 
    left: -18px; 
    top: 70px; 
    width: 25px; 
    height: 10px;
    background-image: url("cursor.png");
    display: block;
}
 
.vdisplay {
    width: 45px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 3px 0;
}

.tag {
    color: brown;
    background: rgba(100,200,200,0.3);
    width: 45px;
    text-align: center;
    margin: -3px 0 0 0;
}

.aide_titre {
    background: linear-gradient(#bf963f, #fcf6ba, #fbf5b7, #aa771c);
    color: navy;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.aide a {
    text-decoration: none;
    background: lightyellow;
    border: navy 1px solid;
    border-radius: 3px;
}

.aide a:hover {
    box-shadow: 2px 2px 2px blue;
}

#navigation {
    display: flex;
    width: 100%;
}
#navigation ul {
    margin: 0;
    padding:0;
}

#navigation li {

    list-style-type: none;
    display: inline-block;
    max-width: 200px;
}

#navigation a {

    text-decoration: none;
    background: lightyellow;
    border: navy 1px solid;
    width: 130px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;

}

#navigation a:hover {
    padding: 5px 0px;
    box-shadow: 2px 2px 2px blue;
}

.accordeon-titre {
    cursor: pointer;
    border: 1px grey solid;
    background:linear-gradient( rgb(200,200,200),rgb(245,245,245),rgb(245,245,245), rgb(200,200,200));
    padding: 5px;
    border-radius: 5px;
}

.accordeon-titre.replie::after {
    content: " ... (Cliquer pour voir)";
}

.accordeon-titre.deplie::after {
    content: " ... (Replier)";
}

p.deplie {
    background: rgb(255,255,220);
    padding: 5px;
    border-radius: 5px;
}

a.home {
    text-decoration: none;
    background: lightyellow;
    border-radius: 3px;
    display: inine-block;
}

a.home:hover {
    box-shadow: 0 0 3px blue;
    font-size: 120%
}

.pup_titre {
    background: linear-gradient(#bf963f, #fcf6ba, #fbf5b7, #aa771c);
    color: navy;
    padding: 3px 10px;
    border-radius: 5px;
    text-align: center;
}

.hint {
    color: grey;
    font-style: italic;
    margin: 3px 0;
}

.numdate {
    font-size: 50%;
    color: lightgrey;
}

#user {
    float: right;
    display: inline-block;
    width: 200px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.actions button {
    width: 100px;
    text-align: center;
}
