{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Mots de passes pour les documents de la Chorale Saltarella</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static './favicon.ico' %}" />
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.js' %}">
    </script>
    <link rel="stylesheet" type="text/css"
	  href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}"/>
    <script type="text/javascript" src="{% static 'programme.js' %}">
    </script>
  </head>
  <body>
    <h1>Mots de passes pour les documents de la Chorale Saltarella</h1>
    <div id="user">
      <p>Bienvenue, {{ user }}</p>
      <p>Administration directe de la
	<a href="/admin">base de données</a></p>
      <button onclick="location='/admin/logout?next=/'">Déconnection</button>
    </div>
    <table class="ordinaire">
      <tr>
	<th>
	  Mot de passe
	</th>
	<th>
	  Actif ?
	</th>
	<th>
	  Début
	</th>
	<th>
	  Fin
	</th>
	<th>
	  Actions
	</th>
      </tr>
      {% for c in cles %}
      <tr>
	<td class="cle">{{ c.cle }}</td>
	<td class="active">
	  {% if c.active %}
	  OUI
	  <a href="/chorale/{{ c.hachage }}?i={{ random }}" target="blank">
	    Vérifier
	  </a>
	  {% else %}
	  non
	  <a href="/chorale/{{ c.hachage }}?i={{ random }}" target="blank">
	    Vérifier
	  </a>
	  {% endif %}
	</td>
	<td class="debut">{{ c.debut }}</td>
	<td class="fin">{{ c.finale }}</td>
	<td class="actions">
	  {% if c.active %}
	  <button onclick="lien_symbolique({{ c.id }}, false, '{{ csrf_token }}')">
	   Désactiver
	  </button>
	  {% else %}
	  <button onclick="lien_symbolique({{ c.id }}, true, '{{ csrf_token }}')">
	    Réactiver
	  </button>
	  {% endif %}
	  <button onclick="supprime_cle({{ c.id }}, '{{ csrf_token }}')">
	    Supprimer
	  </button>
	</td>
      </tr>
      {% endfor %}
      <tr><td colspan="5">
	<fieldset>
	  <legend>
	    Nouveau mot de passe
	  </legend>
	  <input type="text" name="newpass" id="newpass" placeholder="... à définir"/>
	  <button onclick="nouvellecle('{{ csrf_token }}')"
		  style="float: right">
	    Créer le nouveau mot de passe
	  </button>
	</fieldset>
      </td></tr>
    </table>
    <div id="erreur" style="display: none">
      <h3>Erreur de communication</h3>
      <p>Un requête asynchrone n'a pas abouti, récemment.</p>
    </div>
    <div id="longueur" style="display: none">
      <h3>Mot de passe trop court</h3>
      <p>Un nouveau mot de passe doit contenir cinq lettres au minimum.</p>
    </div>
  </body>
</html>
